<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.simonmacdonald.prefs"
      version="2.0.0">
    <name>Preferences</name>
    <description>Preferences</description>
        <author>Simon MacDonald, updated to Cordova 3 by Russell Stather</author>
    <license>MIT</license>
    <keywords>android,preferences</keywords>


    <js-module src="www/applicationPreferences.js" name="AppPreferences">
	    <clobbers target="AppPreferences" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="applicationPreferences">
            <param name="android-package" value="com.simonmacdonald.prefs.AppPreferences"/>
            </feature>
        </config-file>

	<source-file src="src/android/com/simonmacdonald/prefs/AppPreferences.java" target-dir="src/com/simonmacdonald/prefs/" />
    </platform>

</plugin>
